.container {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.mainInput {
  width: 95%;
  background: #000000;
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
  font-family: 'Iceland', monospace;
  font-size: 24px;
  text-align: right;
  border: none;
}

.blinkingCursor {
  width: 12px;
  height: 20px;
  position: absolute;
  background: #ffffff;
  bottom: 3px;
  animation: 1.5s blink step-end infinite;
}

@keyframes blink {
  from, to {
    background: transparent;
  }
  50% {
    background: white;
  }
}

.outputContainer {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.messageContainer {
  display: table-cell;
  vertical-align: bottom;
  height: 300px;
  width: 300px;
}

.userMessage {
  color: #ffffff;
  text-align: right;
}

.computerMessage {
  color: #6969696;
  text-align: left;
}

.fadeIn-enter {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  max-height: 500px;
  transition: opacity 1s ease-in, max-height 2s ease-in;
}
